body {
	width: 550px;
	margin: auto;
	background-color: #851400;
	background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
}

h1 {
	font-family: "Raleway", sans-serif;
	text-align: center;
	font-size: 3em;
	border-bottom: 2px solid black;
	word-spacing: 13px;
}

#message {
	font-size: 25px;
	font-family: "Raleway", sans-serif;
	padding: 10px;
	color: #000411;
}

.square {
	height: 135px;
	width: 135px;
	font-size: 45px;
	padding-left: 40px;
	font-family: "Raleway", sans-serif;


}

#restart {
	font-size: 25px;
	font-family: "Raleway", sans-serif;	
	text-decoration: none;
	color: #9A031E;
	padding: 20px;
	margin: 10px;
}

